<launch>
  <include file="$(find eddiebot_bringup)/kinect_test.launch">
    <arg name="depth_registration" value="false" />
  </include>

  <include file="$(find eddiebot_navigation)/launch/includes/_gmapping.launch"/>

  <include file="$(find eddiebot_navigation)/launch/includes/_move_base.launch"/>

</launch>
